{% extends 'base.html.twig' %}

{% block body %}
  <nav class="places">
    <header>
      <h2>RP</h2>
    </header>
    <div>
      {% for place in places %}
        <a class="place" href="{{ path('place.index', { slug: place.slug }) }}">
          <h3>{{ place.title }}</h3>
          <p>{{ place.description }}</p>
        </a>
      {% endfor %}
    </div>
  </nav>

  <nav class="categories">
    <header>
      <h2>HRP</h2>
    </header>
    <div>
      {% for category in categories %}
        <a class="category" href="#{{ category.slug }}">
          <h3>{{ category.title }}</h3>
          <p>{{ category.description }}</p>
        </a>
      {% endfor %}
    </div>
  </nav>
{% endblock %}
